* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  transition: all 0.3s ease-in-out;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 0 1rem #aaa7a7;
}

.nav_header {
  margin: 0 auto;
  width: 90%;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.ul_header {
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.links_header {
  display: flex;
  gap: 2rem;
}
.li_header {
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.5rem;
  color: #0469b7;
  font-weight: 600;
  padding: 1rem 2rem;
  background-color: none;
  transition: all 0.2s ease-in-out;
  border-bottom: 0.5px solid #0469b7;
}
.li_header:hover {
  color: #049de0;
  border-bottom: 0.5px solid #049de0;
}

#intro_section {
  background-image: url(https://sonicdostava.com/wp-content/uploads/2022/03/Cover.png);
  background-size: cover;
  padding: 20px;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#carouselExampleCaptions {
  width: 60%;
}

#about_us_section {
  background-color: #fff;
  padding: 5rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#cenovnik_section {
  background-color: #fff;
  padding: 5rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about_text h2 {
  color: #0469b7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
}

.about_text_inner {
  padding-top: 3rem;
  width: 50%;
}
.about_text_inner p {
  font-size: 1.2rem;
  padding: 5px;
}
